body{
    margin: 0px;
}

/* MENU */

.navigation {
    display: flex;
    align-items: center;
    background-color: #DDDDDD;
    position: static;
}

.selectionne {
    color: #00106bb2;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.navbar-nav{
    display: block;
}

.navbar-brand{
    color: #00106bb2;
}


/* PIED DE PAGE */

#piedpage img{
    width: 100%;
}


#piedpage {
    padding: 20px;
    display: flex;
    top: 100%;
    align-items: center;
    flex-direction: column;
    height: auto;
    position: relative;
}

#piedpage p {
    position: absolute;
    top: 20%;
    left: 55%;
}

#piedpage > p, #piedpage > p > a {
    color: black;
    margin-bottom: 0px;
    font-weight: bold;
}

/* CARTE DE PRODUITS */

.produits {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.col{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5%;
}

.card{
    width: 85%;
}

.card-title{
    font-weight: bold;
    font-size: 120%;
}

.card-img-top:hover{
    position: absolute;
    opacity: 0%;
}


#imageGalerie {
    height: 200px;
    width: auto;
}

#gallerie {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.contenu{
    margin-left: 20px;
}
