.navigation {
    display: flex;
    align-items: center;
    background-color: #DDDDDD;
    position: static;
}

.selectionne {
    color: #00106bb2;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

#pied {
    display: flex;
    justify-content: center;
    background-color: black;
}

#pied > p, #pied > p > a {
    color: #FFFFFF;
    margin-bottom: 0px;
}